:root {
  box-sizing: border-box;
  font-size: 18px;
  --main-font: Inter, Verdana, Arial, sans-serif;
  --heading-font: Montserrat, 'Arial Black', Arial, sans-serif;
  --color-primary: #ceced1;
  --color-secondary: #1B1B20;
  --color-text: #0D0D0D;
  --color-background: #eeeef0;
  --color-accent: #4a4a4b;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nothing You Could Do', cursive; */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .01em;
}

h1 {
  font-weight: 800;
}

h2,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

header.container,
footer.container {
  background-color: var(--color-accent);
  color: var(--color-primary);

}

.logo-container {
  padding: 1em 2em;
}

.logo {
  font-family: 'Nothing You Could Do', monospace;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -.15em;
  color: var(--color-primary);

}

.nav-list {
  display: none;
}