/* Global */
:root {
  box-sizing: border-box;
  font-size: 1em;
  /* Variables: Fonts */
  --font-main: Inter, Verdana, Arial, sans-serif;
  --font-secondary: 'Roboto Mono', monospace;
  --font-heading: Poppins, Montserrat, 'Arial Black', Arial, sans-serif;
  --font-size-large: 2.5rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: .85rem;
  --font-size-smaller: .75rem;
  --font-size-tiny: .5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-black: 900;

  /* Variables: Colors */
  --color-bright: #FCFBFA;
  --color-dark: #0a0a0a;
  --color-dark-grey: #212122;
  --color-light-grey: #58585C;
  --color-blue: #003987;
  /* Light Theme */
  --color-foreground: var(--color-dark);
  --color-background: var(--color-bright);
  --color-primary: var(--color-dark-grey);
  --color-secondary: var(--color-light-grey);
  --color-accent: var(--color-blue);
  --color-container-foreground: var(--color-bright);
  --color-container-background: var(--color-dark);
  --color-container-primary: var(--color-light-grey);
  --color-container-secondary: var(--color-dark-grey);
  /* Variables: Misc */
  --border-radius: 5px;
  --box-shadow: 00;
}

/* Make reusable buttons */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-background);
  color: var(--color-foreground);
  line-height: 1.5;
  letter-spacing: .01em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/* Header Navigation */
.container {
  background-color: var(--color-container-background);
  color: var(--color-container-foreground);
}

.top-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75em;
  margin: 0 auto;
}

.logo-container>a,
.nav-toggle {
  padding: 1rem;
  display: block;
}


.icon-bar {
  /* Menu toggle bars */
  width: 1.8125rem;
  height: 0.125rem;
  background-color: var(--color-container-foreground);
  display: block;
}

.icon-bar:nth-child(2) {
  margin: 7px 0;
}

.logo-container {
  margin-left: 1.5rem;
}

.nav-toggle {
  margin-right: 1.5rem;
  cursor: pointer;
}

.logo {
  font-family: 'Nothing You Could Do', monospace;
  /* Logo Font */
  font-size: var(--font-size-h2);
  letter-spacing: -.15em;
}


.nav-list.open~.nav-toggle {
  background-color: var(--color-primary);
}

.nav-list {
  font-size: var(--font-size-small);
  display: none;
  position: absolute;
  background-color: var(--color-container-background);
  color: var(--color-container-foreground);
  top: 110%;
  text-align: center;
  left: .5em;
  right: .5em;
  font-weight: var(--font-weight-light);
  letter-spacing: .05em;
}

.nav-list.open {
  display: block;
}

@media (min-width: 39em) {
  .nav-list {
    display: flex;
    position: static;
    background-color: transparent;
    margin-right: 1.5rem;
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width:50em) {
  .nav-list {
    margin-right: 4rem;
  }
}


.nav-list li a {
  display: block;
  padding: .75rem;
}

.nav-list li a:is(:hover, :focus) {
  background-color: var(--color-container-secondary);
}

.nav-list {
  padding: .8rem;
}

.nav-list li+li {
  margin-top: .8rem;
}

@media (min-width: 39em) {
  .nav-list li:not(:first-child) {
    margin-top: 0;
    margin-left: 1.5em;
  }
}

/* Content */
.content {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.content p {
  font-size: var(--font-size-medium);
}

.social-list {
  text-align: center;
  color: var(--color-secondary);
}

.social-list a:hover {
  background-color: var(--color-primary);
  color: var(--color-bright);
}

.social-list>li {
  display: inline-block;
  font-size: 1.25rem;
  margin: .25rem;
}

.social-list a {
  padding: .5em;
}

.img-container {
  width: 100%;
  max-width: 25.8em;
  margin: 2em auto;
}

@media (min-width:45em) {
  .img-container {
    width: 20em;
    float: left;
    margin: 0 1em 0 0;
  }
}

.img-container>img {
  display: block;
  width: 100%;
  height: auto;
}

.about-section>p:first-of-type {
  /* Arbitrary value that aligns the top of the text with the floating image */
  margin-top: -0.3em;
}

.tools {
  font-size: var(--font-size-large);
}

.tool {
  text-align: center;
  display: inline-block;
  padding: .25em 1em;
  margin-right: .25rem;
  min-width: 2.3em;
  background-color: var(--color-container-background);
  color: var(--color-container-foreground);
}

.tool:hover {
  background-color: var(--color-container-secondary);
}

label,
.social-label {
  /* For screen readers, since I have placeholders for visuals */
  position: absolute;
  left: -9999999px;
}

textarea {
  max-height: 20em;
  min-height: 20em;
  max-width: 100%;
  min-width: 100%;
}

/* Article content */
article.content.container {
  background-color: white;
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  width: 100%;
  max-width: 45rem;
}

.article-header {
  font-family: var(--font-secondary);
}

.categories {
  font-size: .75rem;
  letter-spacing: .25rem;
  margin-bottom: 1rem;
}

.publish-info {
  font-size: .75rem;
  font-weight: 900;
  display: block;
  margin: 1rem 0;
}

.article-title {
  font-size: 2.25rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-secondary);
}

.article-content p {
  font-size: 1rem;
}

.article-content h1 {
  font-size: 2rem;
}

.article-content h2 {
  font-size: 1.66rem;
}

.article-content h3 {
  font-size: 1.33rem;
}

.article-content h1,
.article-content h2,
.article-content h3 {
  margin-top: 1.5rem;
}

.article-footer {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-secondary);
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: var(--color-secondary);

}

.featured {
  flex-basis: 50%;
  flex-shrink: 0;
}

.article-footer>div>a {
  display: block;
  margin: .5rem 0;
  width: fit-content;
  font-size: .9rem;
}

/* Footer */
footer.container {
  padding: 2em;
  text-align: center;
}

footer.container>* {
  color: var(--color-secondary);
  padding: 1em;
}